NODE_RED_ADMIN_USERNAME=admin
NODE_RED_ADMIN_PASSWORD_HASH=$$2a$$08$$zZWtXTja0fB1pzD4sHCMyOCMYz2Z6dNbM6tl8sJogENOMcxWV9DN.

# HTTPS Settings
NODE_RED_HTTPS_ENABLED=false
NODE_RED_REQUIRE_HTTPS=false
NODE_RED_HTTPS_KEY=
NODE_RED_HTTPS_CERT=
NODE_RED_HTTPS_REFRESH_INTERVAL_HOURS=12

# LDAP Settings
NODE_RED_USE_LDAP=true
NODE_RED_LDAP_SERVER=
NODE_RED_LDAP_BIND_DN=
NODE_RED_LDAP_BIND_PASSWORD=
NODE_RED_LDAP_BYPASS_TLS_VERIFY=false
NODE_RED_LDAP_CA_CERT_FILE=
NODE_RED_LDAP_USER_SEARCH_BASE=
NODE_RED_LDAP_USERNAME_ATTRIBUTE=sAMAccountName
